*.iml
.gradle
/local.properties
/.idea/migrations.xml
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/material_theme_project_new.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.kotlin/errors
/.kotlin/sessions
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/*.log
local.properties
